
.card{
    box-shadow: 0 4px 8px 0 black;
    margin: auto;
    background-color: aliceblue;
    border-radius: 10px;
    width: 350px;
    height: 400px;
    text-align: center;
 }
body{
    background-color: brown;
}
